{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}{{translate("WELCOME_TO", {'title': site.title})}}{% endblock %}

{% block body_matter %}

    <!-- Header Carousel -->
    <div class="row">
    	<div class="col-lg-7">
        	<img class="center-block" src="{{assets.url('assets://hq/images/hqf.png')}}" alt="Hanu Quiz Framework">
    	</div>
    	<div class="col-lg-5">
    		<h2>Hanu-Quiz Framework</h2>
    		<p>The Hanu-Quiz Framework is a develelopment framework to develop Quiz based applications</p>
    		<p>Using this framework, the developers can manage Applications, Quiz and Questions data in backend.</p>
    		<p>The framework, exposes REST APIs to query the data from backend.</p>
    		<p>Developers can focus on developing the apps and need not worry about the content management and APIs to manage data</p>
    		<p>The framework consists of 2 parts : The backend framework to manage content and the Android Framework to sysnchornize data from backend to the Android app</p>
    	</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-6">
			<h2>HQF Content Management</h2>
			<p>The backend content management framework is built using PHP and MySQL</p>
			<p>The content management framework allows developers to manage contents like: Questions, Quizzes etc.</p>
			<p></p>
		</div>
		<div class="col-lg-6">
			<h2>HQF Android Framework</h2>
			<p>The Android framework integrates with the backend content management system and synchronizes the data automatically.</p>
			<p>Android developers can focus on developing the UI. From the backend system, the administrators can also send push notifications whenever new content is available.</p>
			<p></p>
		</div>
	</div>
	<hr>
	<hr>
	<div class="row">
		<div class="col-md-8">
			<h2>SAP ABAP Quiz</h2>
			<p>The SAP ABAP Quiz application is developed using the HANU Quiz Framework</p>
			<p></p>
    	</div>
    	<div class="col-md-4">
        	<img class="center-block" src="{{assets.url('assets://hq/images/abap_quiz.png')}}" alt="SAP ABAP Quiz">
    	</div>
	</div>

    <hr>

{% endblock %}



{% block scripts_page %}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: false // set to false to prevent auto-advance
    })
    </script>
{% endblock %}
